<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="title">{{title}}:</span>
        <button mat-button class="button-style" *ngIf="!currentLocation.name" (click)="addLocationProcess()">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-button class="button-style" *ngIf="currentLocation.name" (click)="removeLocation()">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-button class="button-style" *ngIf="currentLocation.name" (click)="editLocationProcess()">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button class="button-style" *ngIf="currentLocation.name" (click)="viewDetails()">
          <mat-icon>details</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<div class="entity-list">
      <app-location *ngFor="let location of locations$ | async" 
                  [name]="location.name"
                  [isChoosed]="location === currentLocation"
                  (click)="chooseLocation(location)">
      </app-location>
</div>