<mat-toolbar color="primary">
  <mat-toolbar-row>
      <span class="title">{{title}}:</span>
      <button mat-button *ngIf="!currentCategory.name" (click)="addCategoryProcess()">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-button *ngIf="currentCategory.name" (click)="removeCategory()">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-button *ngIf="currentCategory.name" (click)="editCategoryProcess()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-button *ngIf="currentCategory.name" (click)="viewDetails()">
        <mat-icon>details</mat-icon>
      </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="categories">
    <app-category *ngFor="let category of categories" 
                [name]="category.name"
                [isChoosed]="category === currentCategory"
                (click)="chooseCategory(category)">
    </app-category>
</div>

