<mat-form-field class="filter-form-field">
    <input matInput type="text" placeholder="Filter by Category" aria-label="Category"
        (ngModelChange)="checkIfOptionNotSelected()" [formControl]="categoriesAutocompleteControl"
        [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCategoryFn"
        (optionSelected)="changeInput($event.option.value.name)">
        <mat-option *ngFor="let category of filteredCategoriesOptions | async" [value]="category">
            {{category.name}}
        </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="categoriesAutocompleteControl.hasError(error.type)">{{error.message}}</mat-error>
</mat-form-field>