<app-categories-manager *ngIf="state === 'Categories'"></app-categories-manager>
<app-locations-manager *ngIf="state === 'Locations'"></app-locations-manager>
<mat-toolbar class="switch-toolbar" color="primary">
    <mat-toolbar-row>
        <button mat-button class="button-style" (click)="setCategories()">
            Categories
        </button>
        <button mat-button class="button-style" (click)="setLocations()">
            Location
        </button>
    </mat-toolbar-row>
</mat-toolbar>